/* ==== Variables ==== */
:root {
    --primary-color: #3b82f6;
    --secondary-color: #cbd5e1;
    --black-color: #2B2B2B;
}


/* ==== Configuration ==== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 62.5% => 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins-Regular";
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: #dbeafe;
}


/* ==== Start ==== */
/* ==== Finish ==== */