/* ==== Variables ==== */
:root {
    --primary-color: #3b82f6;
    --secondary-color: #d1d5db;
    --black-color: #2B2B2B;
}


/* ==== Configuration ==== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 62.5% => 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins-Regular";
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: #dbeafe;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ==== Start ==== */
.tabs {
    overflow: hidden;
}

.tabs__wrapper {
    max-width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem;
}

.tabs__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .2rem solid var(--secondary-color);
    padding-bottom: 1.5rem;
    position: relative;
}

.tabs__btn.active {
    color: var(--primary-color);
}

.tabs__btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: "Poppins-Bold";
    color: var(--secondary-color);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.tabs__line {
    position: absolute;
    bottom: -.21rem;
    left: 0;
    right: 0;
    width: 5rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    transition: all 250ms ease-in-out;
}

.tabs__content {
    margin-top: 1.5rem;
}

.tabs__content-item {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(5rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tabs__content-item.active {
    display: block;
}

.tabs__content-title {
    font-family: "Poppins-Medium";
    color: var(--black-color);
    font-size: 2rem;
}

.tabs__content-text {
    color: var(--black-color);
    margin-top: .5rem;
    color: #9ca3af;
}

/* ==== Finish ==== */